<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
</head>
<body>
<nav layout:fragment="header"
      class="navbar navbar-inverse navbar-fixed-top navbar-dark border-bottom">
<div class="container-fluid">
    <div class="navbar-header">
        <img class="img-fluid home-image mr-2 mb-2" style="height: 4%; width: 4%" th:src="@{/images/icon_107680.svg}" alt="">
        <a th:href="@{'/home'}" class="navbar-brand text-dark">
<!--            <i class="bi bi-unlock-fill mr-3"></i>-->
            独裁者の世界</a>
    </div>
    <form method="post" th:action="@{/logout}">
        <button class="btn btn-link pull-right navbar-brand text-dark" type="submit">
            ログアウト
        </button>
    </form>
</div>
</nav>
</body>
</html>