<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${userProfileForm.userName}+'さん'"></title>
    <!--CSS読込-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/user/list.css}">
    <link rel="stylesheet" th:href="@{/css/user/profile.css}">
    <!--JS読込-->
    <script th:src="@{/js/user/detail.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
    <div class="header border-bottom">
        <h1 class="h2">マイプロフィール</h1>
    </div>
    <form th:action="@{/user/detail}" method="post" id="user-detail-form" class="form-signup" th:object="${userProfileForm}">
        <img th:src="@{/images/defaultIcon.jpg}" alt="" class="rounded-circle profile-icon p-3">
        <h4 th:text="*{userName}" class="font-weight-bold"></h4>
        <h6 class="ml-2" th:text="*{userId}"></h6>
        <h6 class="p-2" th:text="*{introduction}"></h6>
        <h6 class="p-2" th:text="'フォロー中：'+*{follows}+'  フォロワー：'+*{follower}"></h6>
        <input type="hidden" th:field="*{userId}">

        <!--ツイート情報 -->
        <th:block th:if="*{tweetList != null and tweetList.size() > 0}">
            <th:block th:each="item: *{tweetList}">
                <div class="card w-50">
                    <div class="row no-gutters">
                        <div class="col-md-1 text-center">
                            <img class="bd-placeholder-img rounded-circle p-2" width="60" height="60" th:src="@{/images/defaultIcon.jpg}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="bd-highlight">
                                        <p class="card-title font-weight-bold" th:text="*{userName}"/>
                                    </div>
                                    <div class="pl-2 bd-highlight">
                                        <p class="" th:text="${userId}" />
                                    </div>
                                    <div class="pl-2 bd-highlight">
                                        <p class="" th:text="${#dates.format(item.tweetKey.tweetDate, 'yyyy/MM/dd')}" />
                                    </div>
                                </div>
                                <p class="card-text" th:text="${item.tweet}"></p>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                            <td>
                                <a th:href="@{'/user/' + ${item.tweetKey.userId} +'/'+ ${item.tweetId}}" class="btn btn-primary">
                                    詳細
                                </a>
                            </td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" th:width="30">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </div>
                    </div>
                </div>
           </th:block>
        </th:block>
    </form>
</div>
</body>
</html>