<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${userProfileForm.userName}+'さん'"></title>
    <!--CSS読込-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/user/list.css}">
    <link rel="stylesheet" th:href="@{/css/user/profile.css}">
    <!--JS読込-->
    <script th:src="@{/js/user/detail.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
    <div class="header border-bottom">
        <div th:if="${authId == userProfileForm.getUserId()}">
            <h1 class="h2">マイプロフィール</h1>
        </div>
    </div>
    <form th:action="@{/user/detail}" method="post" id="user-detail-form" class="form-signup" th:object="${userProfileForm}">
        <img th:src="@{/images/defaultIcon.jpg}" alt="" class="rounded-circle profile-icon p-3">
        <div class="d-flex justify-content-between w-25">
            <h4 th:text="*{userName}" class="font-weight-bold"></h4>
            <div th:if="${authId != userProfileForm.getUserId()}">
                <div th:if="!${#lists.contains(following, userId)}">
                    <a th:href="@{'/user/'+ *{userId} + '/follow'}">
                        フォロー
                    </a>
                </div>
                <div th:if="${#lists.contains(following, userId)}">
                    <a th:href="@{'/user/'+ *{userId} + '/unfollow'}">
                        フォロー解除
                    </a>
                </div>
            </div>
        </div>
        <h6 class="ml-2" th:text="*{userId}"></h6>
        <h6 class="p-2" th:text="*{introduction}"></h6>
        <div class="d-flex justify-content-start">
            <h6 class="p-2">フォロー中</h6>
            <a th:href="@{'/user/'+*{userId}+'/following'}">
                <h6 class="p-2" th:text="${Intfollow}"></h6>
            </a>
            <h6 class="p-2">フォロワー</h6>
            <a th:href="@{'/user/'+*{userId}+'/follower'}">
                <h6 class="p-2" th:text="${Intfollower}"></h6>
            </a>
        </div>
        <input type="hidden" th:field="*{userId}">
        <!--ツイート情報 -->
        <th:block th:if="*{tweetList != null and tweetList.size() > 0}">
            <th:block th:each="item: *{tweetList}">
                <div class="card w-50">
                    <div class="row no-gutters">
                        <div class="col-md-1 text-center">
                            <img class="bd-placeholder-img rounded-circle p-2" width="60" height="60" th:src="@{/images/defaultIcon.jpg}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="bd-highlight">
                                        <p class="card-title font-weight-bold" th:text="*{userName}"/>
                                    </div>
                                    <div class="pl-2 bd-highlight">
                                        <p class="" th:text="${userId}" />
                                    </div>
                                    <div class="pl-2 bd-highlight">
                                        <p class="" th:text="${#dates.format(item.tweetKey.tweetDate, 'yyyy/MM/dd')}" />
                                    </div>
                                </div>
                                <p class="card-text" th:text="${item.tweet}"></p>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                            <td>
                                <a th:href="@{'/user/' + ${item.tweetKey.userId} +'/'+ ${item.tweetId}}" class="btn btn-primary">
                                    詳細
                                </a>
                            </td>
                        </div>
                    </div>
                </div>
           </th:block>
        </th:block>
    </form>
</div>
</body>
</html>