<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>フォロワー</title>
    <!-- 個別CSS読込-->
    <!-- 個別JS読込-->
    <link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}">
    <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
    <div class="header border-bottom">
        <h1 class="h2">フォロワー</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thread-light">
            <tr>
                <th class="width">フォロワー</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${follower}">
               <td>
                   <a th:href="@{'/user/' + ${item.follower}}" th:text="${item.follower}"></a>
               </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
